# {{ ansible_managed }}
# NOTE: mod_wsgi can not coexist in the same apache process as
# mod_wsgi_python3.  Only load if mod_wsgi_python3 is not
# already loaded.

<IfModule !wsgi_module>
LoadModule wsgi_module modules/mod_wsgi.so
</IfModule>

{% if not python_wsgi_embedded %}
WSGIRestrictEmbedded on
{% endif %}
{% if python_wsgi_ignore_deprecation %}
WSGIPythonWarnings ignore::DeprecationWarning::
{% endif %}
WSGIPythonOptimize {{ python_wsgi_optimize }}
WSGISocketPrefix /dev/shm/wsgi
